#logo{
    width: 15%;
}

body{
    overflow-x: hidden;
}

nav .nav-link{
    color: rgb(88, 88, 88);
    font-weight: 600;
}



@media (max-width: 567px)
{
    img#logo{
        width: 30%;
    }
    body{
        font-size: 1px;
    }
    header h2#title {
        font-size: 1.8em;
    }
    #text-explain{
        font-size: 0.8em;
    }
}